body{
    background:pink;
    color: hotpink;
    padding:10xp;
    font-family:monospace;

}
#all-contents{
    max-width: 800px;
    margin:auto;
}

/*navigation menu*/
nav {
    background: pink;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

h1 {
    display:flex'
    align-item: center;
    color:white;
    flex:1;
    margin: 1;
}

#nav-ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
}

.nav-li {
    diplay:inline-block;
    padding: 0 10px;
}

a {
    text-decoration:snow;
    color: hotpink;
}

/*main container area beneath menu */
main {
    background: pink
    display: flex;
    margin-top: 20px;
}